<h1>Add A New Set</h1>
<form action='/legos/add' method="POST">
    <label for="name">Enter Set Name: </label>
    <input type="text" name="name" placeholder="Enter Name" /><br>

    <label for="imgUrl">Enter Set Img: </label>
    <input type="text" name="imgUrl" placeholder="Enter Url" /><br>

    <label for="setId">Enter Set Id: </label>
    <input type="number" name="setId" placeholder="Enter Set Id" /><br>

    <label for="pieceCount">Enter Piece Count: </label>
    <input type="number" name="pieceCount" placeholder="Enter Piece Count" /><br>

    <label for="yearRelesed">Enter Year Relesed: </label>
    <input type="number" name="yearRelesed" placeholder="Enter Year Relesed" /><br>

    <button type="submit">Add Item</button>
</form>